<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Instant 3D 2</title>
        <script src="js/libs/aframe.min.js"></script>
        <script src="js/libs/vue.min.js"></script>
        <script src="js/libs/FileSaver.min.js" defer></script>
        <style>
            body {background-color: black; color: white; display: flex; flex-direction: column; font-family: Arial, sans-serif; font-size: 10pt; margin: 0; overflow: hidden;}
            a-scene {height: calc(100vh - 169px); width: 100vw;}
            #app {display: flex; padding: 5px;}
            #app > div {border: 1px solid grey; margin-left: 5px; padding: 5px; width: calc(100vw - 142px);}
            .tabs {list-style-type: none; margin: 0; padding: 0;}
            .tabs button {width: 115px;}
            .tabs .selected {background-color: blue; color: white;}
            h2 {font-size: 1.1em; margin: 0 0 5px 0;}
            label {display: block; height: 40px; font-size: 0.9em; margin-top: 5px;}
            label span {font-weight: bold;}
            thead {font-size: 0.8em;}
            td {padding: 0 2px; text-align: center;}
            select, button {font-size: 0.8em; padding: 5px;}
            td input[type='number'], td input[type='text'] {padding: 3px;}
            input[type='number'] {width: 40px;}
            input[type='file'] {width: 180px;}
        </style>
    </head>
    <body>

        <a-scene background="color: black" embedded>

            <a-assets>
                <a-asset-item id="churchill" src="assets/rooms/Churchill.glb"></a-asset-item>
                <a-asset-item id="fleming-whittle" src="assets/rooms/Fleming-Whittle.glb"></a-asset-item>
                <a-asset-item id="mountbatten" src="assets/rooms/Mountbatten.glb"></a-asset-item>
                <a-asset-item id="felt-lectern-external" src="assets/felt-lectern-external.obj"></a-asset-item>
                <a-asset-item id="felt-lectern-internal" src="assets/felt-lectern-internal.obj"></a-asset-item>
                <a-asset-item id="tt-gltf" src="assets/top-table.glb"></a-asset-item>
                <a-asset-item id="bucket-chair" src="assets/bucket-chair.glb"></a-asset-item>
                <img id="uplighter" src="assets/uplighters.png"/>
                <a-asset-item id="chromabatten" src="assets/chromabatten.glb"></a-asset-item>
                <a-asset-item id="chair-purple-obj" src="assets/chair-purple.obj"></a-asset-item>
                <a-asset-item id="chair-purple-mtl" src="assets/chair-purple.mtl"></a-asset-item>
                <a-asset-item id="chair-pink-obj" src="assets/chair-pink.obj"></a-asset-item>
                <a-asset-item id="chair-pink-mtl" src="assets/chair-pink.mtl"></a-asset-item>
            </a-assets>

            <a-entity id="room"></a-entity>

            <a-entity id="content"></a-entity>

            <a-entity id="chairs"></a-entity>

            <a-entity light="type:ambient;intensity:0.1"></a-entity>
            <a-entity light="intensity:0.8" position="-0.5 2.1 6.3" rotation="19 0 0"></a-entity>

            <a-entity position="0 1.7 15">
                <a-camera></a-camera>
            </a-entity>

        </a-scene>

        <div id="app">

            <ul class="tabs">
                <li><button v-on:click="selectedTab = 'room'" v-bind:class="{selected: selectedTab === 'room'}">ROOM</button></li>
                <li><button v-on:click="selectedTab = 'stage'" v-bind:class="{selected: selectedTab === 'stage'}">STAGE</button></li>
                <li><button v-on:click="selectedTab = 'set'" v-bind:class="{selected: selectedTab === 'set'}">SET</button></li>
                <li><button v-on:click="selectedTab = 'graphics'" v-bind:class="{selected: selectedTab === 'graphics'}">GRAPHICS</button></li>
                <li><button v-on:click="selectedTab = 'stage-furniture'" v-bind:class="{selected: selectedTab === 'stage-furniture'}">STAGE FURNITURE</button></li>
                <li><button v-on:click="selectedTab = 'file'" v-bind:class="{selected: selectedTab === 'file'}">FILE</button></li>
            </ul>

            <div v-if="selectedTab === 'room'">
                <label>
                    <span>Room: </span>
                    <select v-model="room" v-on:change="update(null, true)">
                        <option>Churchill</option>
                        <option>Fleming</option>
                        <option>Whittle</option>
                        <option>Mountbatten</option>
                    </select>
                </label>
                <label>
                    <span>Seating Style: </span>
                    <select v-model="seatingStyle" v-on:change="update(null, true)">
                        <option>None</option>
                        <option>Theatre</option>
                    </select>
                </label>
            </div>

            <div v-if="selectedTab === 'stage'">
                <table>
                    <thead>
                        <tr>
                            <th>&#10000;</th>
                            <th>Type</th>
                            <th>Width</th>
                            <th>Colour</th>
                            <th>Options</th>
                            <th>&#10006;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="room === 'Churchill' || room === 'Mountbatten'">
                            <td></td>
                            <td>Fixed Stage</td>
                            <td>N/A</td>
                            <td><input v-if="roomsData.carpetedStage" type="color" v-model="item.stageColour" v-on:change="update()"/><span v-else>N/A</span></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr v-for="item in items" v-if="(room === 'Fleming' || room === 'Whittle') && item.type === 'stage'">
                            <td><input type="checkbox" v-model="item.selected" v-on:click="selectItem(item)"/></td>
                            <td>
                                <select v-model="item.type">
                                    <option value="stage">Stage Blocks</option>
                                </select>
                            </td>
                            <td><input type="number" v-model="item.width" step="4" v-on:change="update()"/> ft</template></td>
                            <td><input v-if="item.carpeted" type="color" v-model="item.colour" v-on:change="update()"/><span v-else>N/A</span></td>
                            <td></td>
                            <td><button v-on:click="removeItem(item.id)">&#10006;</button></td>
                        </tr>
                    </tbody>
                </table>
                <button v-on:click="addItem('stage', 20, 0, 0, 0)">Add Item</button>
            </div>

            <div v-if="selectedTab === 'set'">
                <table>
                    <thead>
                        <tr>
                            <th>&#10000;</th>
                            <th>Type</th>
                            <th>Width</th>
                            <th>Colour</th>
                            <th>Options</th>
                            <th>&#10006;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="room === 'Churchill' || room === 'Mountbatten'">
                            <td></td>
                            <td>Set - Centre</td>
                            <td>N/A</td>
                            <td><input type="color" v-model="roomsData.fixedSet.setWashCentre" v-on:change="update()"/></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr v-if="room === 'Churchill' || room === 'Mountbatten'">
                            <td></td>
                            <td>Set - Sides</td>
                            <td>N/A</td>
                            <td><input v-if="!roomsData.fixedSet.setWashSame" type="color" v-model="roomsData.fixedSet.setWashSides" v-on:change="update()"/></td>
                            <td>Linked: <input type="checkbox" v-model="roomsData.fixedSet.setWashSame" v-on:change="update()"/></td>
                            <td></td>
                        </tr>
                        <tr v-for="item in items" v-if="(room === 'Fleming' || room === 'Whittle') && item.type === 'set'">
                            <td><input type="checkbox" v-model="item.selected" v-on:click="selectItem(item)"/></td>
                            <td>
                                <select v-model="item.type">
                                    <option value="set">Std Flats</option>
                                </select>
                            </td>
                            <td><input type="number" v-model="item.width" step="4" v-on:change="update()"/> ft</template></td>
                            <td><input v-if="item.type === 'set'" type="color" v-model="item.lighting" v-on:change="update()"/><span v-else>N/A</span></td>
                            <td></td>
                            <td><button v-on:click="removeItem(item.id)">&#10006;</button></td>
                        </tr>
                    </tbody>
                </table>
                <button v-on:click="addItem('set', 4, 0, 0, 0)">Add Item</button>
            </div>

            <div v-if="selectedTab === 'graphics'">
                <table>
                    <thead>
                        <tr>
                            <th>&#10000;</th>
                            <th>Path</th>
                            <th>Width</th>
                            <th>&#10006;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in items" v-if="item.type === 'graphic'">
                            <td><input type="checkbox" v-model="item.selected" v-on:click="selectItem(item)"/></td>
                            <td><input type="text" v-model="item.src" v-on:change="newGraphic(item)"/></td>
                            <td><input type="number" min="0.5" max="10" step="0.1" v-model:number="item.width" v-on:change="update()"/> m</td>
                            <td><button v-on:click="removeItem(item.id)">&#10006;</button></td>
                        </tr>
                    </tbody>
                </table>
                <button v-on:click="addItem('graphic')">Add Graphic</button>
            </div>

            <div v-if="selectedTab === 'stage-furniture'">
                <table>
                    <thead>
                        <tr>
                            <th>&#10000;</th>
                            <th>Type</th>
                            <th>Size</th>
                            <th>Colour</th>
                            <th>Options</th>
                            <th>&#10006;</th>
                        <tr/>
                    <thead>
                    <tbody>
                        <tr v-for="item in items" v-if="item.type === 'lectern' || item.type === 'top-table' || item.type === 'bucket-chairs'">
                            <td><input type="checkbox" v-model="item.selected" v-on:click="selectItem(item)"/></td>
                            <td>
                                <select v-model="item.type" v-on:change="update()">
                                    <option value="lectern">Felt Lectern</option>
                                    <option value="top-table">Top Table</option>
                                    <option value="bucket-chairs">Bucket Chairs</option>
                                </select>
                            </td>
                            <td><input v-if="item.type === 'top-table' || item.type === 'bucket-chairs'" type="number" v-model="item.size" v-on:change="update()"/><span v-else>N/A</span></td>
                            <td><input v-if="item.type === 'lectern' || item.type === 'top-table' && item.modpanel" type="color" v-model="item.colour" v-on:change="update()"/><span v-else>N/A</span></td>
                            <td></td>
                            <td><button v-on:click="removeItem(item.id)">&#10006;</button></td>
                        </tr>
                    </tbody>
                </table>
                <button v-on:click="addItem('lectern')">Add Item</button>
            </div>

            <div v-if="selectedTab === 'file'">
                <label>
                    <span>Open File: </span>
                    <input type="file" v-on:change="openFile($event)"/>
                </label>
                <label>
                    <span>Save File: </span>
                    <button v-on:click="saveFile()">Save</button>
                </label>
                <label>
                    <span>Screenshot: </span>Ctrl + Alt + S
                </label>
            </div>

        </div>

        <script src="js/render.js"></script>
        <script src="js/controller.js"></script>

    </body>
</html>
