<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Instant 3D 2</title>
        <script src="js/libs/aframe.min.js"></script>
        <script src="js/libs/vue.min.js"></script>
        <script src="js/libs/FileSaver.min.js" defer></script>
        <style>
            body {color: white; font-family: Arial, sans-serif;}
            #app {background-color: rgba(0, 0, 0, 0.7); height: 100vh; left: 0; overflow-y: auto; padding: 5px; position: absolute; top: 0; width: 300px; z-index: 10;}
            h2 {margin: 5px 0;}
            ul {list-style-type: none; padding-left: 0;}
            li {border-bottom: 1px solid #555; margin-bottom: 10px; padding-bottom: 10px;}
            label {display: block; height: 40px;}
            label span {font-weight: bold;}
            select, button {padding: 5px;}
            input[type='file'] {width: 180px;}
        </style>
    </head>
    <body>
        
        <div id="app">
            <!--<h2>Options</h2>-->
            <label>
                <span>Room: </span>
                <select v-model="room" v-on:change="update(null, true)">
                    <option>Fleming</option>
                    <option>Whittle</option>
                </select>
            </label>
            <label>
                <span>Width:</span>
                <input type="range" step="4" min="20" max="80" v-on:change="updateWidth" v-model="width"/> {{width}}ft
            </label>
            <label>
                <span>Set Wash: </span>
                <input id="set-wash" type="color" value="#0b63f4" v-on:change="updateSetWash($event)"/>
            </label>
            <label>
                <span>Screenshot: </span>Ctrl + Alt + S
            </label>
            <hr/>
            <h3>Graphics:</h3>
            <ul>
                <li v-for="item in items" v-if="item.type === 'graphic'">
                    <label><input type="checkbox" v-model="item.selected" v-on:click="selectItem(item)"/> <span>Path: </span><input v-model="item.src" v-on:change="newGraphic(item)"/></label>
                    <label><span>Width: </span><input type="range" min="0.5" max="10" step="0.1" v-model:number="item.width" v-on:change="update()"/></label>
                    <button v-on:click="removeItem(item)">Remove</button>
                </li>
            </ul>
            <button v-on:click="addItem('graphic')">Add Graphic</button>
            <hr/>
            <h3>Furniture</h3>
            <ul>
                <li v-for="item in items" v-if="item.type === 'lectern' || item.type === 'top-table'">
                    <h4><input type="checkbox" v-model="item.selected" v-on:click="selectItem(item)"/> {{item.type}}</h4>
                    <label v-if="item.type === 'lectern'"><span>Colour: </span><input type="color" v-model="item.colour" v-on:change="update()"/></label>
                    <label v-if="item.type === 'top-table'"><span>Size: </span><input type="number" v-model="item.size" v-on:change="update()"/></label>
                </li>
            </ul>
            <hr/>
            <label>
                <span>Open File: </span>
                <input type="file" v-on:change="openFile($event)"/>
            </label>
            <button v-on:click="saveFile()">Save to File</button>
        </div>

            <a-scene background="color: black">
                
                <a-assets>
                    <a-asset-item id="fleming-whittle" src="assets/rooms/Fleming-Whittle.glb"></a-asset-item>
                    <a-asset-item id="felt-lectern-external" src="assets/felt-lectern-external.obj"></a-asset-item>
                    <a-asset-item id="felt-lectern-internal" src="assets/felt-lectern-internal.obj"></a-asset-item>
                    <a-asset-item id="tt-gltf" src="assets/top-table.glb"></a-asset-item>
                    <a-asset-item id="chromabatten" src="assets/chromabatten.glb"></a-asset-item>
                    <a-asset-item id="chair-purple-obj" src="assets/chair-purple.obj"></a-asset-item>
                    <a-asset-item id="chair-purple-mtl" src="assets/chair-purple.mtl"></a-asset-item>
                    <a-asset-item id="chair-pink-obj" src="assets/chair-pink.obj"></a-asset-item>
                    <a-asset-item id="chair-pink-mtl" src="assets/chair-pink.mtl"></a-asset-item>                    
                </a-assets>
                
                <a-entity id="room"></a-entity>
                
                <a-entity id="content"></a-entity>
                
                <a-entity id="chairs"></a-entity>

                <!-- floor -->
                <!--<a-plane color="#222" width="200" height="100" position="0 -6 -10" rotation="-90 0 0"></a-plane>-->
                
                <a-entity light="type:ambient;intensity:0.1"></a-entity>
                <a-entity light="intensity:0.8" position="-0.5 2.1 6.3" rotation="19 0 0"></a-entity>
                
                <a-entity position="0 1.7 15">
                    <a-camera></a-camera>
                </a-entity>

            </a-scene>

        <script src="js/render.js"></script>
        <script src="js/controller.js"></script>
      
    </body>
</html>